pkgbase = uwebsockets
	pkgdesc = Simple, secure & standards compliant web server for the most demanding of applications
	pkgver = 19.3.0
	pkgrel = 1
	url = https://github.com/uNetworking/uWebSockets
	arch = any
	license = Apache
	depends = usockets
	source = uwebsockets-19.3.0.tar.gz::https://github.com/uNetworking/uWebSockets/archive/v19.3.0.tar.gz
	sha256sums = 6f709b4e5fe053a94a952da93c07c919b36bcb8c838c69067560ae85f97c5621

pkgname = uwebsockets
